<div>
    <h1>All Categories</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="category-list">
            {{#each categories}}
                <tr>
                    <td>{{title}}</td>
                    <td>
                        <a href="/haiku/categories/{{_id}}/edit">Edit</a>
                        <form action="/haiku/categories/{{_id}}/delete?newMethod=DELETE" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>

            {{/each}}

        </tbody>
    </table>
    
    <hr>

    <form action="/haiku/categories/{{category._id}}/edit" method="post">
        <label for="title">Title</label>
        <input type="text" id="category-title" name="title" value="{{category.title}}">
        <input type="hidden" id="category-id" name="id" value="{{category._id}}">

        <button typ="submit" id="update-category-button">Update Category</button>
    </form>

</div>

<script>
    $(document).ready(function () {
        $('#update-category-button').on('click', function(e) {
            e.preventDefault();

            var data = $('#category-title').val();
            var id = $('#category-id').val();
            $.ajax({
                url: `/haiku/categories/${id}/edit`,
                type: 'POST',
                data: {name: data},
                success: function(response) {
                    window.location.href = response.url;
                }
            });
        });
    });

</script>